<article class="panel status-card">
    <span><%= item.label %></span>
    <strong class="<%= stateClass %>"><%= item.value %></strong>
    <small class="<%= typeof subClass !== "undefined" ? subClass : "" %>"><%= item.sub %></small>
</article>
